
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {                /* body should remove all margin and padding */
    margin: 0;
    padding: 0;
  }


main {                /* should set the padding to 16 pixels */
    padding: 16px;
    margin: 0px 0px 10px 0;
  }


.main-page-link {
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
  }


footer {                      /* footer should set the top and bottom padding to */
    padding: 24px 0px 24px 24px;   /* 24 pixels and the left and right padding to 0 pixels */
    font-weight: bold;
    bottom: 0;
    background-color: lightgreen;
  }


img {                 /* img should have a height of 200 pixels */
    height: 200px;
  }


  nav { /* nav should have a black, 1pixel bottom border and padding all the way around of 16 pixels */
    border-bottom-color: black;
    border-width: 0px 0px 1px 0px;
    padding: 16px;      /* 16 pixels paddding all around */
    background-color: red;
    font-weight: bold;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    grid-template-rows: auto auto; /* Two rows with automatic height */
    gap: 10px; /* Gap between grid items */
  }


  .grid-item {           /* border: 1px solid #000;  Border for visualization */
    padding: 20px; /* Padding for grid items */
  }


  tr:nth-child(even) {
    background-color: lightgray;
  }



  /* 
  a {
    background-color: powderblue;
    transition: background-color 0.5s;
  }
  
  */



